<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title th:utext="#{add_book}"></title>
</head>
<body>

	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  		<div class="carousel-inner">
    		<div class="carousel-item active">
    		    <img th:src="@{/images/service/library.jpeg}" width="1200px" height="720px" class="d-block w-100" >
    		    <div class="carousel-caption d-none d-md-block">
        			<h5 th:utext="#{welcome}"></h5>
        			<p th:utext="#{title}"></p>
      			</div>
    		</div>    		
  		</div>
	</div>


	<nav class="navbar navbar-expand-sm bg-light">
		<a class="navbar-brand" href="#">Book Store</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/book/allBooks(findReq='false')}" th:utext="#{main}"></a>
			</li>
			<li class="nav-item-dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="#{books}"></a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/book/allBooks(findReq='false')}" th:utext="#{all_books}"></a>
					<a class="dropdown-item" th:href="@{/book/addBookForm}" th:utext="#{add_book}"></a>
					<a class="dropdown-item" th:href="@{/book/addBookToAuthorForm}" th:utext="#{add_book_author}"></a>	
					<a class="dropdown-item" th:href="@{/book/addBookToPublisherForm}" th:utext="#{add_book_publisher}"></a>										
				</div>
			</li>
			<li class="nav-item-dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="#{authors}"></a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/author/allAuthors(findReq='false')}" th:utext="#{all_authors}"></a>
					<a class="dropdown-item" th:href="@{/author/addAuthorForm}" th:utext="#{add_author}"></a>
				</div>
			</li>
			<li class="nav-item-dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="#{publishers}"></a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/publisher/allPublishers(findReq='false')}" th:utext="#{all_publishers}"></a>
					<a class="dropdown-item" th:href="@{/publisher/addPublisherForm}" th:utext="#{add_publisher}"></a>
					<a class="dropdown-item" th:href="@{/publisher/addAuthorToPublisherForm}" th:utext="#{add_author_publisher}"></a>						
				</div>
			</li>
		</ul>
	</nav>

	<div class="container my-5">
		<h3 th:utext="#{add_book}"></h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-6">
					<form action="#" th:action="@{/book/addBook}" th:object="${book}" method="post" enctype="multipart/form-data" >
						<div class="row">
							<div class="form-group col-md-6">
								<label for="title" class="col-form-label" th:utext="#{book_title}"></label>
								<input type="text" th:field="*{title}" class="form-control" id="title"/>
								<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger" role="alert"></div>
							</div>
							<div class="form-group col-md-6">
								<label for="publishDate" class="col-form-label" th:utext="#{published}"></label>
								<input type="date" th:field="*{publishDate}" class="form-control" id="publishDate"/>
								<div th:if="${#fields.hasErrors('publishDate')}" th:errors="*{publishDate}" class="alert alert-danger" role="alert"></div>
							</div>
							<div class="form-group col-md-6">
								<label for="describtion" class="col-form-label" th:utext="#{descrip}"></label>
								<input type="text" th:field="*{describtion}" class="form-control" id="describtion"/>
								<div th:if="${#fields.hasErrors('describtion')}" th:errors="*{describtion}" class="alert alert-danger" role="alert"></div>
							</div>							
							<div class="form-group col-md-6">
								<label for="file" class="col-form-label" th:utext="#{image_book}"></label>
								<input type="file"  class="form-control-file" id="file" name="file"/>		
							</div>
							<div class="form-group col-md-6">
								<label for="pdf" class="col-form-label" th:utext="#{pdf_book}"></label>
								<input type="file"  class="form-control-file" id="pdf" name="pdf"/>		
							</div>
							<div class="form-group col-md-8">
								<button type="submit" class="btn btn-primary" th:utext="#{add_book}">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
	

</body>
</html>