<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title th:utext=#{read_book}></title>
</head>
<body>	

	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  		<div class="carousel-inner">
    		<div class="carousel-item active">
    		    <img th:src="@{/images/service/library.jpeg}" width="1200px" height="720px" class="d-block w-100" >
    		    <div class="carousel-caption d-none d-md-block">
        			<h5 th:utext=#{welcome}></h5>
        			<p th:utext=#{title}></p>
      			</div>
    		</div>    		
  		</div>
	</div>

	<nav class="navbar navbar-expand-sm bg-light">
		<a class="navbar-brand" href="#">Book Store</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/book/allBooks(findReq='false')}" th:utext="#{main}"></a>
			</li>
			<li class="nav-item-dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"th:utext="#{books}"></a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/book/allBooks(findReq='false')}" th:utext="#{all_books}"></a>
					<a class="dropdown-item" th:href="@{/book/addBookForm}" th:utext="#{add_book}"></a>
					<a class="dropdown-item" th:href="@{/book/addBookToAuthorForm}" th:utext="#{add_book_author}"></a>	
					<a class="dropdown-item" th:href="@{/book/addBookToPublisherForm}" th:utext="#{add_book_publisher}"></a>										
				</div>
			</li>
			<li class="nav-item-dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="#{authors}"></a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/author/allAuthors(findReq='false')}" th:utext="#{all_authors}">All authors</a>
					<a class="dropdown-item" th:href="@{/author/addAuthorForm}" th:utext="#{add_author}">r</a>
				</div>
			</li>
			<li class="nav-item-dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="#{publishers}"></a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/publisher/allPublishers(findReq='false')}" th:utext="#{all_publishers}"></a>
					<a class="dropdown-item" th:href="@{/publisher/addPublisherForm}" th:utext="#{add_publisher}"></a>
					<a class="dropdown-item" th:href="@{/publisher/addAuthorToPublisherForm}" th:utext="#{add_author_publisher}"></a>						
				</div>
			</li>
		</ul>
	</nav>

	
	<div class="container">					
			<div class="card mx-4 my-4">
				<div class="col-4  mx-auto mt-3"><img th:src="@{/images/books/{id}/{name}(id=${book.ID},name=${book.fileName})}" class="card-img-top" width="150px" height="150px"/></div>
				<div class="card-body">
				<div class="d-flex justify-content-center"><h2 class="card-title" th:text="${book.title}"> </h2></div>	
				<iframe th:src="@{/images/books/{id}/{pdf}(id=${book.ID},pdf=${book.pdfName})}" width="100%" height="500px"></iframe>
				</div>
			</div>	
	</div>
	
	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	 
</body>
</html>