<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>All books</title>
</head>
<body>

	<div class="container">
		<div class="row row-cols-3">
			<div class="col" th:each="book : ${books}">			
			<div class="card mx-4 my-4">
				<img th:src="@{/images/books/{id}/{name}(id=${book.ID},name=${book.fileName})}" class="card-img-top"/>
				<div class="card-body">
				<h2 class="card-title" th:text="${book.title}"> </h2>
				<h5 class="card-text" th:text="${book.describtion}"></h5>
				<h5 class="card-text" th:text="'Publication date:' +  ${book.publishDate}"></h5>
				<a th:href="@{/book/editBookForm/{id}(id=${book.ID})}" class="m-1 btn btn-primary">Edit a book</a>
				<a th:href="@{/book/deleteBook/{id}(id=${book.ID})}" class="m-1 btn btn-primary">Delete a book</a>
				<a th:href="@{/book/readBook/{id}(id=${book.ID})}" class="m-1 btn btn-primary">Read a book</a>				
				<a th:href="@{/book/downloadPDF/{id}(id=${book.ID})}" class="m-1 btn btn-primary">Get a book</a>			
				</div>
			</div>				
			</div>	
		</div>			
	</div> 

</body>
</html>